<div class="container">
<div class="row">
  <div class="col-md-6">
<form (ngSubmit)= "submitQuotes()" >
  <div class="form-group">
    <label for="form1">Name</label>
    <input type="text" class="form-control" id="form1"  name="name" [(ngModel)]="quote.writer" >

  </div>
  <div class="form-group">

    <label for="form2">Quote</label>
    <input type="text" class="form-control" id="form1" name="quote" [(ngModel)]="quote.author">
  </div>
  <div class="form-group">

    <label for="form3">Quote</label>
    <input type="text" class="form-control" id="form3" name="author" [(ngModel)]="quote.quote">
  </div>

  <button type="submit" class="btn btn-primary">Post Quote!</button>

</form>
</div>
</div>
</div>
