<form (ngSubmit)= "submitQuotes()"class="well" >
  <div class="form-group">
    <label for="form1">Name</label>
    <input type="text" class="form-control" id="form1"  name="name" [(ngModel)]="quoteWriter" >

  </div>
  <div class="form-group">

    <label for="form2">Quote</label>
    <input type="text" class="form-control" id="form1" name="quote" [(ngModel)]="qouteString">
  </div>
  <div class="form-group">

    <label for="form3">Quote</label>
    <input type="text" class="form-control" id="form3" name="author" [(ngModel)]="qouteAuthor">
  </div>

  <button type="submit" class="btn btn-primary">Post Quote!</button>

</form>
