.well{

  margin-left: 40px;
}
.container{
  margin-top: 40px;
}
body{
    background-color: #f3f9fb;
}
#nav-bar{
  background-color: #113f67;
}
#nav-det{
  color: #87c0cd;
}
#navbarDropdownMenuLink{
    color: #87c0cd;
}
.jumbotron{
  border: 2px solid #113f67;
  margin-top: 40px;
  background-color: #87c0cd;
}
#motto{
  font-style: italic;
  text-align: center;
  color:  #87c0cd;
  font-family: 'Gochi Hand', cursive;
}
#heading{
  color: #113f67;
  font-style: normal;
  text-decoration: underline;
  text-align:center;
  font-family: 'Paytone One', sans-serif;

}
#col{
  background-color: #87c0cd;
  border:2px solid #113f67;
}
#btn{
  margin-right: 30px;
}
