.well{

  margin-left: 40px;
}
.container{
  margin-top: 40px;
}
body{
    background-color: #f3f9fb;
}
#nav-bar{
  background-color: #113f67;
}
#nav-det{
  color: #87c0cd;
}
.jumbotron{
  margin-top: 40px;
  text-align: center;
}
